body {
    background-color: black;
    color: white;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 100px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery {
    flex: 1 1 250px;
    max-width: 250px;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 8px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}
