.login-hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url("../images/6.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    min-height: 100vh;
}

.login-box {
    width: 320px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 70px 30px 30px 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0 0 20px 0;
    font-size: 22px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

.login-box input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background-color: blue;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.login-box input[type="submit"]:hover {
    background-color: lightblue;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    transition: 0.4s;
}

.login-box a:hover {
    color: #fff;
}
