* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
}

body {
    background-color: #0d0d0d;
    color: white;
}

.navbar {
    height: 70px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 50;
}

.logo img {
    width: 75px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.4s;
    background: transparent;
    font-weight: 500;
}

.nav-links a:hover,
.nav-links .active {
    background: white;
    color: black;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.05);
}

.hero, .contact-hero, .login-hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url("../images/p.jpg") center/cover no-repeat;
    text-align: center;
}

.hero-center h1 {
    font-size: 70px;
    letter-spacing: 4px;
}

.hero-center h3 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 300;
}

.hero-buttons {
    margin-top: 40px;
    text-align: center;
}

.btn {
    display: inline-block;
    border: 1px solid white;
    padding: 12px 30px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    transition: 0.4s;
}

.btn:hover {
    background: white;
    color: black;
}
